<!-- Form to view all creatures + MENU -->

<center>
<div class="content">
<% @bogs.each do |bog| %>
	<div class="creatures">
		<p class="creatures_text"><strong>Name:</strong> <%= bog[:name] %></p>
		<p class="creatures_text"><strong>Description:</strong> <%= bog[:description] %></p>
		<form action="bog/<%=bog[:id]%>" method="get">
			<button class="divbutton">More Info</button>
		</form>
	</div>
</br></br>
<% end %>
</br>
<form action="/bog/new" method="get">
	<input type="submit" value="Report new creature sighting">
</form>
</div>
</center>